@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
<p>
        Confirmation email has been sent to @{@Model.Email}.
        Please check your email to confirm your account.
</p>
}

